
*{
	font-family: 'Roboto Mono', monospace;
	padding:0;
	margin:0;
}
:root{
	--white:#EDDEA4;
	--tangerine:#F7A072;
	--black:black;
	--primary:#FD96A9;
	--secondary:grey;

}

header{
	background-color:var(--tangerine);
	display:flex;
	flex-direction:column;
	width:35%;
	height:200vh;
	position:fixed;


}

.shadow:hover{
	box-shadow:-10px -10px 8px #888888, 10px 10px 8px #888888;
	transition:all;
}
header h1{
	margin:20px;
	color:var(--black);
	font-size:25px;
	font-weight:bolder;
}
header .shadow{
	background-color:var(--white);
	margin:50px;
	border-radius:15%;	
}
.svg{
	/*padding:20px;*/
	margin-left:250px;
	/*border:40px;*/
}
.firstfig{
	margin:20px;
}

header figcaption{
	font-size:10px;
	margin-left:20px;
	margin-top:-10px;
	font-style:italic;
}

.firstfig img{
	width:150px;
	border-radius:50%;
	flex-direction:column;
	margin:5px;
}
header a{
	margin:30px;
	border:30px;
	padding:0.5;
	padding-bottom:50px;


}

a{
	
	/*border-radius:30%;*/
	text-decoration:none;
	/*border:20px;
	margin-left:20px;
	margin-bottom:20px;*/
}
main{
	background-color:var(--white);
}

.first{
	display:flex;
	flex-direction:column;
	max-width:65%;
	margin-left:35%;
	max-height:100vh;
	border:20px;
}


.portfolio{
	height:20vh;
	margin:20px;
	background-color:var(--secondary);

	max-width: 50rem;
	margin: 20px auto;

	padding: 1.5em;
	border-radius: 0.3em;

}
.portfolio:hover{
	box-shadow:-10px -10px 8px var(--primary), 10px 10px 8px var(--primary);
	transition:all;
}
#new{
	display: flex;
	flex-direction: column;
	max-width: 70%;
	margin-left:35%;
	min-height: 100vh;
	padding: 1.5em;
	border-radius: 0.3em;

	/* border: 20px; */

}

.item {
	display: flex;
	align-items: center;
	margin: 3em;
	gap: 1.5em;
	background-color:var(--secondary);
	padding: 2em;
	border-radius: 0.3em;
}

.item figure img {
	width: 300px;
}
.item:hover{
	box-shadow:-10px -10px 8px var(--primary), 10px 10px 8px var(--primary);
	transition:all;
}

.second{
	display:flex;
	flex-direction:column;
	/* margin:20%;
	max-width:50vh; */

}
#new p{
	text-align:center;
}

footer{
	display:flex;
	min-height:3cm;
	background-color:var(--primary);
	color:black;
	margin-left:35%;
	justify-content:center;
	padding:40px;

}
footer p{
	display: block;
	color:black;
	font-style:italic;
	font-weight:bolder;
	
}