
*{
	font-family: 'Roboto Mono', monospace;
	padding:0;
	margin:0;
}



header{
	background-color:crimson;
	display:flex;
	flex-direction:column;

}
img{
	width:100px;
	border-radius:50%;
	flex-direction:column;
}
button{
	background-color:yellow;
	border-radius:30%;
}
button:hover{
	background-color:blue;
	border-radius:50%;
}
a:visited{
	background-color:black;

}
a:hover{
	background-color:maroon;
}
.first{
	background-color:pink;
	display:flex;
	flex-direction:column;


}
.work{
	display:flex;
	flex-direction:column;
	justify-text:center;
	text-align:center;
	height:100vh;
	width:100%;
	font-size:2em;

}
article:first-child{
	background-color:green;


}
article:nth-child(2){
	background-color:violet;
	
}
article:last-child{
	background-color:blue;
	
	
}
#contact{
	background-color:teal;
	display:flex;

}
