header{
	background-color:crimson;
	display:flex;
	flex-direction:column;

}
img{
	width:100px;
	border-radius:50%;
	/*flex-direction:column;*/
}
button{
	background-color:yellow;
	border-radius:30%;
}
button:hover{
	background-color:blue;
	border-radius:50%;
}
a:visited{
	background-color:black;

}
.first{
	background-color:pink;
	display:flex;
	flex-direction:column;

}
.work{
	display:flex;
	flex-direction:column;
	justify-text:center;
	text-align:center;
	display:flex;
	height:100%;
	width:100%;
	font-size:20px;

}
p:first-child{
	background-color:green;
	

	

}
p:nth-child(2){
	background-color:violet;
	
}
p:last-child{
	background-color:blue;
	
	
}
